#app2 > div.experience-icons {
    border: solid #e9defa 1px;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 8px;
    background-color: #2a1847;
}

#app2 img {
    width: 60px;
    height: 60px;
    margin: 15px;
    object-fit: contain;
}